/* Add here all your css styles (customizations) */
.required::after{
    content: " *";
    color: red;
}
.field_required{
    background-color: #ff4564;
    color: #fff;
    font-size: 12px;
    padding: 3px;
    font-weight: 700;
}